/logic/facial_tracking/images/
/libraries/visca/__pycache__
/views/widgets/__pycache__
/shared/__pycache__
/views/homepage/__pycache__
/logic/facial_tracking/__pycache__
/logic/camera_search/__pycache__
/facial_tracking/__pycache__
/views/vapix.log
/logic/facial_tracking/models/trainer.json
/logic/facial_tracking/dialogs/__pycache__
/vapix.log
/logic/facial_tracking/models/encodings.pickle
/libraries/face_recognition/__pycache__
/views/functions/__pycache__
/.idea